*.pyc
*.swp
*~
build
dist
*.egg-info
tags
*.log
heat-test.db
heat.sqlite
.venv
AUTHORS
ChangeLog
templates/cloudformation-examples
nuage_openstack_heat.egg-info/
nuage_heat.egg-info/
.tox
.coverage
.coverage.*
cover
.testrepository
.project
.pydevproject
.idea
